<template>
  <Layout>
    <Header :title="$page.article.title" />
    <section class="section">
      <div class="container">
        <div class="content" v-html="$page.article.content" />
      </div>
    </section>
  </Layout>
</template>

<page-query>
query Article ($path: String!) {
  article: article (path: $path) {
    title
    content
  }
}
</page-query>

<script>
import Header from "~/components/Header.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.article.title,
    };
  },
  components: {
    Header,
  },
};
</script>
