<template>
  <Layout>
    <Header :title="$page.author.title" />
    <section class="section has-background-light-grey">
      <div class="container">
        <div class="columns is-multiline">
          <PostCard
            v-for="post in $page.author.belongsTo.edges"
            :key="post.node.id"
            :post="post.node"
          />
        </div>
      </div>
    </section>
  </Layout>
</template>

<style>
.has-background-light-grey {
  background-color: #eef0f1;
}
</style>

<!--Cómo hacemos que esta query se repita para cada autor, igual que pasa con cada artículo y post-->
<page-query>
query ($path: String!) {
  author(path: $path) {
    title
    belongsTo {
      edges {
        node {
          ... on Post {
            title
            path
            slug
            author {
              title
              slug
              image
              excerpt
              content
            }
            date
            image
            excerpt
          }
        }
      }
    }
  }
}
</page-query>

<script>
import PostCard from "~/components/PostCard.vue";
import Header from "~/components/Header.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.author.title,
    };
  },
  components: {
    Header,
    PostCard,
  },
};
</script>
