<template>
  <Layout>
    <Header :title="$page.post.title" />
    <PostContent :content="$page.post" />
    <Biopic :author="$page.post.author" />
  </Layout>
</template>

<!--Hay que encontrar el autor del post con GraphQL, y luego pasarlo al comp Biopic-->
<page-query>
query Post ($path: String!) {
  post: post (path: $path) {
    title
    author {
      title
      slug
      image
      excerpt
      content
    }
    date
    image
    excerpt
    keywords
    content
  }
}
</page-query>

<script>
import Header from "~/components/Header.vue";
import PostContent from "~/components/PostContent.vue";
import Biopic from "~/components/Biopic.vue";
import SEO from "../mixins/SEO";

export default {
  components: {
    Header,
    PostContent,
    Biopic,
  },
  mixins: [SEO],
};
</script>
