<template>
  <main>
    <section class="hero is-primary is-fullheight">
      <div class="hero-head">
        <Navbar
          :whiteBackground="false"
          :navbarClass="'has-background-primary'"
        />
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            404
          </h1>
          <h2 class="subtitle is-2">
            {{ $t("404.subtitle") }}
          </h2>

          <b-button
            tag="router-link"
            to="/"
            type="is-primary"
            size="is-medium"
            inverted
          >
            {{ $t("404.button") }}
          </b-button>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import Navbar from "~/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  metaInfo() {
    return {
      title: "Página no encontrada",
    };
  },
};
</script>
