<template>
  <Layout>
    <Header :title="titleBlog" />
    <section class="section has-background-light-grey">
      <div class="container">
        <div class="columns is-multiline">
          <PostCard
            v-for="(post, index) in $page.posts.edges"
            :key="index"
            :post="post.node"
          />
        </div>
      </div>
    </section>
  </Layout>
</template>

<style>
.has-background-light-grey {
  background-color: #eef0f1;
}
</style>

<page-query>
query Post {
  posts: allPost(sortBy: "date", order: DESC) {
    edges {
      node {
        title
        path
        image
        author {
            title
            slug
            image
            excerpt
            content
        }
        date
        excerpt
      }
    }
  }
}
</page-query>

<script>
import PostCard from "~/components/PostCard.vue";
import Header from "~/components/Header.vue";

export default {
  metaInfo() {
    return {
      title: "Blog",
    };
  },
  data() {
    return {
      titleBlog: "Blog",
    };
  },
  components: {
    Header,
    PostCard,
  },
};
</script>
