<template>
  <Layout>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-6">
              <h1 class="title is-spaced">
                {{ $t("index.header.title") }}
              </h1>
              <p class="subtitle" v-html="$t('index.header.subtitle')" />
              <div class="buttons">
                <a
                  class="button is-primary is-medium"
                  href="https://form.typeform.com/to/NYx8OVMb"
                  >{{ $t("index.header.cta") }}</a
                >
              </div>
            </div>
            <div class="column is-6">
              <img
                src="../assets/images/undraw_Calculator_0evy.png"
                alt="Calculadora de huella de carbono"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section has-background-light has-text-primary">
      <div class="container has-text-centered">
        <h2 class="title mb-6 has-text-primary">
          {{ $t("index.problems.title") }}
        </h2>
        <div class="columns is-multiline">
          <Item
            v-for="(problem, index) in problems"
            :key="index"
            :item="problem"
          />
        </div>
        <!--
        <a class="button is-primary has-text-light" type="submit"
          >Te lo explicamos</a
        >
        -->
      </div>
    </section>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-three-quarters-desktop">
              <h1 class="title is-spaced is-3 has-text-grey">
                {{ $t("index.miteco.title") }}
              </h1>
              <h1 class="subtitle is-spaced is-1 mt-6">
                “{{ $t("index.miteco.quote") }}”
              </h1>
            </div>
            <div
              class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile is-relative"
              style="margin-left: auto; margin-right: auto"
            >
              <img
                src="../assets/images/sello-de-huella-de-carbono-MITECO.png"
                alt="Sello del registro de huella de carbono del Ministerio para la Transición Ecológica"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section has-background-primary has-text-light">
      <div class="container has-text-centered">
        <h2 class="title mb-6 has-text-light">
          {{ $t("index.solutions.title") }}
        </h2>
        <div class="columns is-multiline">
          <Item
            v-for="(solution, index) in solutions"
            :key="index"
            :item="solution"
          />
        </div>
        <!--
        <a class="button is-light has-text-primary" type="submit"
          >Descubre cómo</a
        >
        -->
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered py-4">
        <h2 class="title is-spaced">
          {{ $t("index.features") }}
        </h2>

        <!-- Slider main container -->
        <Swiper />
      </div>
    </section>

    <section class="section has-background-light has-text-primary">
      <div class="container has-text-centered">
        <h2 class="title mb-6 has-text-primary">
          {{ $t("index.associatedServices.title") }}
        </h2>
        <h3 class="subtitle is-4 has-text-primary">
          {{ $t("index.associatedServices.subtitle") }}
        </h3>
        <!--
        <a class="button is-primary has-text-light" type="submit">Conócenos</a>
        -->
      </div>
    </section>
  </Layout>
</template>

<script>
import Swiper from "~/components/Swiper.vue";
import Item from "~/components/Item.vue";

export default {
  data() {
    return {
      socialImage:
        "https://segara.io" +
        require("~/assets/images/segara-social-1200-630.png"),
      pageTitle: "Automatiza la gestión de tu huella de carbono",
      problems: [
        { pack: "fas", icon: "question", text: "index.problems.how" },
        { pack: "fas", icon: "calculator", text: "index.problems.calculation" },
        {
          pack: "fas",
          icon: "certificate",
          text: "index.problems.certification",
        },
        { pack: "fas", icon: "industry", text: "index.problems.compliance" },
      ],
      solutions: [
        {
          pack: "fas",
          icon: "infinity",
          title: "index.solutions.integralTitle",
          text: "index.solutions.integralContent",
        },
        {
          pack: "fas",
          icon: "check-square",
          title: "index.solutions.standardizedTitle",
          text: "index.solutions.standardizedContent",
        },
        {
          pack: "fab",
          icon: "osi",
          title: "index.solutions.openSourceTitle",
          text: "index.solutions.openSourceContent",
        },
        {
          pack: "fas",
          icon: "solar-panel",
          title: "index.solutions.sustainableTitle",
          text: "index.solutions.sustainableContent",
        },
      ],
    };
  },
  components: {
    Swiper,
    Item,
  },
  metaInfo() {
    return {
      title: this.pageTitle,
      meta: [
        { name: "twitter:card", content: "summary" },
        { name: "twitter:title", content: this.pageTitle },
        { name: "twitter:image", content: this.socialImage },
        {
          name: "twitter:description",
          content: this.$page.metadata.siteDescription,
        },
        { property: "og:title", content: this.pageTitle },
        { property: "og:site_name", content: this.$page.metadata.siteName },
        { property: "og:type", content: "website" },
        { property: "og:image", content: this.socialImage },
        {
          property: "og:description",
          content: this.$page.metadata.siteDescription,
        },
      ],
    };
  },
};
</script>

<page-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</page-query>

<style>
strong {
  color: inherit;
}
</style>
