<template>
  <section class="section has-background-light">
    <div class="container has-text-centered">
      <h2 class="title mb-6 has-text-primary">Este post lo ha escrito...</h2>
      <div class="columns is-centered ">
        <div class="column is-three-quarters has-text-primary">
          <div class="level ">
            <div class="level-item my-5">
              <figure class="image is-128x128">
                <g-image
                  :src="
                    require(`!!assets-loader!@images/authors/${
                      author.slug
                    }.jpg`)
                  "
                  alt=""
                  class="is-rounded"
                />
              </figure>
            </div>
          </div>

          <h5 class="title is-5 has-text-primary">{{ author.title }}</h5>
          <p class="subtitle has-text-primary">{{ author.excerpt }}</p>
          <p class="block" v-html="author.content"></p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    author: Object,
  },
};
</script>
