<template>
  <section id="contact" class="section has-background-primary">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6 has-text-light">
        {{ $t("components.contactForm.join") }}
      </h2>
      <div class="columns">
        <div class="column is-6">
          <h3 class="title is-spaced is-4 has-text-light">
            {{ $t("components.contactForm.start") }}
          </h3>
          <p class="subtitle has-text-light">
            {{ $t("components.contactForm.earlyAccess") }}
          </p>
          <div class="has-text-light">
            <div class="media">
              <div class="media-left">
                <b-icon pack="fas" icon="map-marker-alt" size="fa-lg"> </b-icon>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>Paseo de la Castellana, 194, 28046 Madrid</p>
                </div>
              </div>
            </div>

            <div class="media">
              <div class="media-left">
                <b-icon pack="fas" icon="envelope" size="fa-lg"> </b-icon>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>info@segara.io</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <form @submit.prevent="submitForm">
            <b-field
              :label="$t('components.contactForm.name')"
              for="name"
              custom-class="has-text-light"
            >
              <b-input
                id="name"
                aria-label="User"
                type="text"
                placeholder="Ada Lovelace"
                icon-pack="fas"
                icon="user"
                v-model="name"
                required
              />
            </b-field>

            <b-field
              :label="$t('components.contactForm.company')"
              custom-class="has-text-light"
              for="company"
            >
              <b-input
                id="company"
                aria-label="Building"
                type="text"
                :placeholder="$t('components.contactForm.university')"
                icon-pack="fas"
                icon="building"
                v-model="company"
                required
              >
              </b-input>
            </b-field>

            <b-field label="Email*" for="email" custom-class="has-text-light">
              <b-input
                id="email"
                aria-label="Email"
                type="email"
                placeholder="ada@example.com"
                icon-pack="fas"
                icon="envelope"
                v-model="email"
                required
              >
              </b-input>
            </b-field>

            <b-field
              :label="$t('components.contactForm.number')"
              for="phoneNumber"
              custom-class="has-text-light"
            >
              <b-input
                id="phoneNumber"
                aria-label="Mobile"
                type="text"
                placeholder="+34 600112233"
                icon-pack="fas"
                icon="mobile-alt"
                v-model="phoneNumber"
                required
              >
              </b-input>
            </b-field>

            <!-- Honeypot to avoid spam -->
            <b-field label="Teléfono*" class="is-honey" for="phoneNumber">
              <b-input
                id="mobileNumber"
                aria-label="Mobile"
                type="text"
                placeholder="+34 600112233"
                icon-pack="fas"
                icon="mobile-alt"
                v-model="mobile"
              >
              </b-input>
            </b-field>

            <b-field
              :label="$t('components.contactForm.help')"
              for="message"
              custom-class="has-text-light"
            >
              <b-input
                id="message"
                aria-label="Message"
                type="textarea"
                :placeholder="$t('components.contactForm.message')"
                v-model="message"
                required
              >
              </b-input>
            </b-field>

            <div class="field has-text-light">
              <b-field class="form-control">
                <b-checkbox :value="true" type="is-light" v-model="gdpr">
                  {{ $t("components.contactForm.consent") }}
                  <g-link to="/article/politica-privacidad">{{
                    $t("components.contactForm.privacy")
                  }}</g-link
                  >.
                </b-checkbox>
              </b-field>
            </div>

            <div class="field">
              <div class="control">
                <button
                  id="submission"
                  class="button is-light is-fullwidth has-text-primary"
                  :disabled="!gdpr"
                >
                  {{ $t("components.contactForm.contact") }}
                </button>
              </div>
            </div>

            <p class="help has-text-light">
              * {{ $t("components.contactForm.mandatory") }}
            </p>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <p class="help has-text-white">
        {{ $t("components.contactForm.legalNotice") }}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      currentLocale: this.$i18n.locale.toString(),
      name: "",
      company: "",
      email: "",
      phoneNumber: "",
      mobile: "",
      message: "",
      gdpr: false,
    };
  },
  computed: {
    swalTitle() {
      return this.currentLocale === "es" ? "¡Gracias!" : "Thank you!";
    },
    swalText() {
      return this.currentLocale === "es"
        ? "Nos pondremos en contacto contigo lo antes posible."
        : "We will get back to you shortly.";
    },
    swalButton() {
      return this.currentLocale === "es" ? "Genial" : "Sweet";
    },
  },
  methods: {
    submitForm() {
      if (this.mobile === "") {
        const subject = `Hola, soy ${this.name} de ${this.company}`;
        const body = `
  <html>
  <p><strong>Nombre</strong>: ${this.name}</p>
  <p><strong>Empresa</strong>: ${this.company}</p>
  <p><strong>Email</strong>: ${this.email}</p>
  <p><strong>Teléfono:</strong> ${this.phoneNumber}</p>
  <p><strong>Mensaje</strong>: ${this.message}<p>
  </html>`;

        Email.send({
          SecureToken: "7c59ed8d-4448-4f81-bdc6-59853e7a49e8",
          To: "info@segara.io",
          From: "gcastellano@segara.io",
          Subject: subject,
          Body: body,
        }).then((message) =>
          swal({
            title: this.swalTitle,
            text: this.swalText,
            icon: "success",
            button: this.swalButton,
          })
        );
        this.resetForm();
      }
    },
    resetForm() {
      this.name = "";
      this.company = "";
      this.email = "";
      this.phoneNumber = "";
      this.message = "";
      this.gdpr = false;
    },
  },
};
</script>

<style>
#contact a:hover {
  color: #cff09e;
}

#contact a {
  color: white;
}

#contact .checkbox:hover {
  color: inherit;
}

#contact input:focus {
  color: #0b486b;
}

#contact input:focus + .icon {
  color: #0b486b;
}

.swal-button {
  background-color: #0b486b;
}

.is-honey {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>
