<template>
  <footer class="footer has-background-white">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="columns is-desktop">
          <div class="column">
            <h2 class="title is-5">Segara</h2>
            <p class="block">
              {{ $t("components.footer.description") }}
            </p>
            <div class="buttons">
              <a
                class="button"
                href="https://twitter.com/Segara_ES"
                aria-label="Go to our Twitter"
                target="_blank"
              >
                <b-icon pack="fab" icon="twitter"></b-icon>
              </a>
              <a
                class="button"
                href="https://www.linkedin.com/company/segara-environmental-consulting/"
                aria-label="Go to our LinkedIn"
                target="_blank"
              >
                <b-icon pack="fab" icon="linkedin"></b-icon>
              </a>
              <a
                class="button"
                href="https://gitlab.com/segara"
                aria-label="Go to our GitLab"
                target="_blank"
              >
                <b-icon pack="fab" icon="gitlab"></b-icon>
              </a>
              <a
                class="button"
                href="https://www.instagram.com/segara_es/"
                aria-label="Go to our Instagram"
                target="_blank"
              >
                <b-icon pack="fab" icon="instagram"></b-icon>
              </a>
            </div>
          </div>
          <div class="column">
            <h3 class="title is-6">{{ $t("components.footer.map") }}</h3>
            <ul>
              <li>
                <g-link :to="{ path: '/' }">{{
                  $t("components.footer.home")
                }}</g-link>
              </li>
              <li>
                <g-link :to="{ path: '/blog/' }">{{
                  $t("components.footer.blog")
                }}</g-link>
              </li>
              <!-- <li><a href="#">Huella de carbono</a></li>
                <li><a href="#">Qué hacemos</a></li>
                <li><a href="#">Por qué nosotros</a></li>
                <li><a href="#">Blog</a></li> -->
              <li>
                <a href="https://form.typeform.com/to/NYx8OVMb">{{
                  $t("components.footer.start")
                }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <img
              class="image"
              src="../assets/images/sello-lab-cc.png"
              alt="Combo de logos del Ministerio para la Transición Ecológica, la Fundación Biodiversidad, la Red Emprendeverde y el FSE de la Unión Europea"
            />
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <!-- <a href="#">Aviso legal</a>
            | -->
          <g-link :to="{ path: '/article/politica-privacidad' }">{{
            $t("components.footer.privacy")
          }}</g-link>
        </div>
        <div class="column has-text-right-tablet">
          <p class="subtitle is-6">
            &copy; 2020-2021 Segara Environmental Consulting,
            {{ $t("components.footer.abbreviation") }}
          </p>
        </div>
      </div>

      <hr />
      <div class="columns">
        <div class="column">
          <p class="has-text-centered">
            {{ $t("components.footer.made") }}
            <b-icon pack="fas" icon="coffee" />
            {{ $t("components.footer.use") }}
            <a href="https://gridsome.org/">Gridsome</a>
            {{ $t("components.footer.and") }}
            <a href="https://buefy.org/">Buefy</a>.
          </p>
          <p class="has-text-centered">
            {{ $t("components.footer.code") }}
            <a href="https://mit-license.org/">{{
              $t("components.footer.mit")
            }}</a
            >. {{ $t("components.footer.content") }}
            <a href="https://creativecommons.org/licenses/by-sa/4.0/"
              >CC BY-SA 4.0</a
            >.
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>
