<template>
  <section class="hero is-medium has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white" v-html="title" />
      </div>
    </div>
  </section>
</template>

<style>
.has-bg-img {
  background-image: url("../assets/images/header-background.svg");
  background-repeat: no-repeat;
  background-attachment: contain;
  background-size: 100% auto;
}

@media (max-width: 600px) {
  .has-bg-img {
    background-attachment: inherit;
    background-size: cover;
  }
}
</style>

<script>
export default {
  props: {
    title: String,
  },
};
</script>
