<template>
  <div class="column is-6 is-3-desktop">
    <b-icon
      :class="[item.title ? 'solution mb-5' : '', problem]"
      :pack="item.pack"
      :icon="item.icon"
      size="is-large"
      custom-size="3x"
    ></b-icon>
    <h3 class="title solution is-4" v-if="item.title">
      {{ $t(`${item.title}`) }}
    </h3>
    <p class="mt-5" v-html="$t(`${item.text}`)" />
  </div>
</template>

<style>
.problem {
  color: #79bd9aff;
}

.problem:hover {
  color: #0b486b;
}

.solution {
  color: #79bd9aff;
}

.column:hover > .solution {
  color: #cff09e;
}
</style>

<script>
export default {
  props: {
    item: Object,
  },
};
</script>
