<template>
  <b-navbar wrapper-class="container" :class="navbarClass" centered>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
          v-if="whiteBackground"
          src="../assets/images/logotipo-azul.png"
          alt="Logo de Segara"
          width="100"
        />
        <img
          v-else
          src="../assets/images/logotipo-blanco.png"
          alt="Logo de Segara"
          width="100"
        />
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        {{ $t("components.navbar.home") }}
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/blog/' }">
        {{ $t("components.navbar.blog") }}
      </b-navbar-item>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <b-dropdown
          aria-role="list"
          v-if="whiteBackground"
          v-model="currentLocale"
        >
          <button
            class="button is-white"
            slot="trigger"
            slot-scope="{ active }"
          >
            <b-icon
              pack="fas"
              icon="globe-europe"
              size="is-medium"
              type="is-primary"
            ></b-icon>
            <span class="has-text-primary">{{ currentLocale }}</span>
          </button>
          <b-dropdown-item
            @click="localeChanged"
            aria-role="listitem"
            v-for="locale in availableLocales"
            :key="locale"
            :value="locale"
            >{{ locale }}</b-dropdown-item
          >
        </b-dropdown>

        <b-dropdown v-else aria-role="list" v-model="currentLocale">
          <button
            class="button is-primary"
            slot="trigger"
            slot-scope="{ active }"
          >
            <b-icon
              pack="fas"
              icon="globe-europe"
              size="is-medium"
              type="is-white"
            ></b-icon>
            <span class="has-text-white">{{ currentLocale }}</span>
          </button>
          <b-dropdown-item
            @click="localeChanged"
            aria-role="listitem"
            v-for="locale in availableLocales"
            :key="locale"
            :value="locale"
            >{{ locale }}</b-dropdown-item
          >
        </b-dropdown>
      </b-navbar-item>
      <b-navbar-item tag="div">
        <b-button
          tag="a"
          href="https://form.typeform.com/to/NYx8OVMb"
          target="_blank "
          type="is-primary"
          :inverted="!whiteBackground"
          outlined
        >
          {{ $t("components.navbar.start") }}
        </b-button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  data() {
    return {
      currentLocale: this.$i18n.locale.toString(),
      availableLocales: this.$i18n.availableLocales,
    };
  },
  methods: {
    localeChanged() {
      this.$router.push({
        path: this.$tp(this.$route.path, this.currentLocale, true),
      });
    },
  },
  props: ["whiteBackground", "navbarClass", ""],
};
</script>
