<template>
  <div class="column is-4">
    <div class="card">
      <g-link :to="{ path: post.path }">
        <div class="card-image">
          <figure class="image is-4by3">
            <g-image :src="post.image" alt="Placeholder image" />
          </figure>
        </div>
      </g-link>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ post.title }}</p>
            <g-link :to="{ path: `author/${post.author.slug}` }">
              {{ post.author.title }}
            </g-link>
          </div>
        </div>

        <div class="content">
          <p>{{ post.excerpt }}</p>
          <p>
            <time :datetime="date">{{ date }}</time>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card img {
  opacity: 0.8;
}

.card:hover {
  transform: scale(1.025);
}

.card:hover img {
  opacity: 1;
}
</style>

<script>
export default {
  computed: {
    date() {
      return this.post.date.slice(0, 10);
    },
  },
  props: {
    post: Object,
  },
};
</script>
