<template>
  <section class="section" id="post">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters">
          <div class="content mb-6">
            <p class="has-text-centered">
              Publicado por
              <g-link :to="{ path: `author/${content.author.slug}` }">{{
                content.author.title
              }}</g-link>
              el
              {{ date }}
            </p>
          </div>
          <div class="content" v-html="content.content" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: Object,
  },
  computed: {
    date() {
      return this.content.date.slice(0, 10);
    },
  },
};
</script>

<style>
.is-image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#post a {
  font-weight: 550;
  text-decoration: underline;
}
</style>
