<template>
  <swiper ref="mySwiper" :options="swiperOptions">
    <swiper-slide
      ><div class="columns is-vcentered mb-6">
        <div class="column mb-6">
          <span class="title is-size-1 has-text-primary">1</span>
          <h3 class="title">{{ $t("components.swiper.inventoriesTitle") }}</h3>
          <p>
            {{ $t("components.swiper.inventoriesContent") }}
          </p>
        </div>
        <div class="column mb-6">
          <img src="../assets/images/registro.png" alt="Grabación de inventarios de CO2 en la aplicación" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="columns is-vcentered">
        <div class="column">
          <span class="title is-size-1 has-text-primary">2</span>
          <h3 class="title">{{ $t("components.swiper.deviationsTitle") }}</h3>
          <p>
            {{ $t("components.swiper.deviationsContent") }}
          </p>
        </div>
        <div class="column">
          <img src="../assets/images/desviaciones.png" alt="Aviso de desviación" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="columns is-vcentered">
        <div class="column">
          <span class="title is-size-1 has-text-primary">3</span>
          <h3 class="title">{{ $t("components.swiper.reportTitle") }}</h3>
          <p>
          {{ $t("components.swiper.reportContent") }}
          </p>
        </div>
        <div class="column">
          <img src="../assets/images/informe.png" alt="Informe de huella de carbono" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="columns is-vcentered">
        <div class="column">
          <span class="title is-size-1 has-text-primary">4</span>
          <h3 class="title">{{ $t("components.swiper.mitigationTitle") }}</h3>
          <p>
            {{ $t("components.swiper.mitigationContent") }}
          </p>
        </div>
        <div class="column">
          <img src="../assets/images/proyectos-mitigacion.png" alt="Mapa de proyectos de mitigación de huella de carbono" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="columns is-vcentered">
        <div class="column">
          <span class="title is-size-1 has-text-primary">5</span>
          <h3 class="title">{{ $t("components.swiper.sealTitle") }}</h3>
          <p>
            {{ $t("components.swiper.sealContent") }}
          </p>
        </div>
        <div class="column">
          <img src="../assets/images/sello.png" alt="Certificación ambiental" />
        </div>
      </div>
    </swiper-slide>
    <swiper-slide
      ><div class="columns is-vcentered">
        <div class="column">
          <span class="title is-size-1 has-text-primary">6</span>
          <h3 class="title">{{ $t("components.swiper.communicationTitle") }}</h3>
          <p>
            {{ $t("components.swiper.communicationContent") }}
          </p>
        </div>
        <div class="column">
          <img src="../assets/images/comunicacion.png" alt="Comunicación de la huella de carbono" />
        </div>
      </div>
    </swiper-slide>
</div>
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>
</template>

<script>
export default {
  data() {
    return {
      swiperOptions: {
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          initialSlide: -1,
          bulletClass: "pagination-link",
          renderBullet: function(index, className) {
            return '<a class="' + className + '">' + (index + 1) + "</a>";
          },
        },
      },
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
  },
  mounted() {
    console.log("Current Swiper instance object", this.swiper);
    this.swiper.slideTo(1, 1000, false);
  },
};
</script>

<style>
/*active pagination*/
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0b486b; /*orange color*/
  color: #ffffff;
}
</style>
