<static-query>
  query {
    metadata {
      siteUrl
    }
  }
</static-query>

<script>
export default {
  metaInfo() {
    const siteUrl = this.$static.metadata.siteUrl;
    const postPath = this.$page.post.path;
    const image = this.$page.post.image;
    const imagePath = (image && `${siteUrl}${image.src}`) || "";
    const excerpt = this.$page.post.excerpt;

    return {
      title: this.$page.post.title,
      meta: [
        {
          key: "description",
          name: "description",
          content: this.excerpt,
        },
        { key: "og:url", property: "og:url", content: `${siteUrl}${postPath}` },
        {
          key: "og:title",
          property: "og:title",
          content: this.$page.post.title,
        },
        {
          key: "og:type",
          property: "og:type",
          content: "article",
        },
        {
          key: "og:description",
          property: "og:description",
          content: this.$page.post.excerpt,
        },
        {
          key: "og:image",
          property: "og:image",
          content: image.src,
        },
        {
          key: "og:image:width",
          property: "og:image:width",
          content: (image && image.size.width) || "",
        },
        {
          key: "og:image:height",
          property: "og:image:height",
          content: (image && image.size.height) || "",
        },
        {
          key: "twitter:description",
          name: "twitter:description",
          content: this.$page.post.excerpt,
        },
        {
          key: "twitter:card",
          name: "twitter:card",
          content: image ? "excerpt_large_image" : "excerpt",
        },
        {
          key: "twitter:image",
          property: "twitter:image",
          content: imagePath,
        },
        {
          key: "twitter:title",
          property: "twitter:title",
          content: this.$page.post.title,
        },
        {
          key: "keywords",
          name: "keywords",
          content: this.$page.post.keywords,
        },
      ],
      script: [
        {
          type: "application/ld+json",
          json: {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            description: this.$page.post.description,
            datePublished: this.$page.post.date,
            headline: this.$page.post.title,
            image: imagePath,
          },
        },
      ],
    };
  },
};
</script>
