<template>
  <div>
    <Navbar :whiteBackground="true" />
    <main>
      <slot />
      <!-- Content goes here -->
      <ContactForm />
      <Waves />
    </main>
    <Footer />
  </div>
</template>

<script>
import Navbar from "~/components/Navbar.vue";
import ContactForm from "~/components/ContactForm.vue";
import Waves from "~/components/Waves.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Navbar,
    ContactForm,
    Waves,
    Footer,
  },
};
</script>
